body{
    background-color: indigo;
    background-image: url(goku.png);
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 30%;
}

h1{
    font-size: 20px;
    font-family: cursive;
    background-color: darkmagenta;
    color: goldenrod;
    border-style: dotted;
    border-radius: 5px;
    text-align: center;
}

fieldset{
    border-color: gold;
}

legend,
label,
h5{
    color: white;
}

button{
    background-color: darkorchid;
    width: 70px;
    height: 50px;
    border-radius: 10%;
    color: white;
}
.linhas{
    width: 60%;
}

form,input,textarea{
    resize: none;
}